body {
  background-color: aqua;
}

img {
  position: relative;
  height: 400px;
  width: 300px;
  margin-top: 100px;
  border-radius: 25px;
}

h1,
p {
  color: white;
  display: block;
}

.main_div {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  margin-left: 200px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: 0.5s ease;
  width: 25%;
  margin: 30px;
}

.content:hover {
  box-shadow: inset 0 0 0 4px aqua, 3px -3px 30px white, -3px 3px 30px white;
}

.container {
  overflow: hidden;
  background-color: aqua;
  margin-top: 100px;
  margin-left: 190px;
  margin-right: 150px;
}

.container a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container a:hover {
  background-color: #ddd;
  color: black;
}

.container a.home_page {
  background-color: aqua;
  color: white;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.container .search_container {
  float: right;
  padding-top: 40px;
  margin-right: 150px;
}

.container input[type="text"] {
  padding: 6px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 0px;
  height: 60px;
  width: 500px;
  background: linear-gradient(21deg, #10abff, #1beabd);
  border-radius: 9999em;
  color: white;
  outline: none;
  text-transform: capitalize;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
    -3px 3px 30px #10abff;
}

.container .search_container button {
  float: right;
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 72px;
  width: 72px;
  background: linear-gradient(21deg, #10abff, #1beabd);
  border-radius: 9999em;
  margin-left: 15px;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
    -3px 3px 30px #10abff;
}

.container .search_container button:hover {
  background: white;
}

::placeholder {
  color: #fafbfd;
  text-transform: lowercase;
}

i {
  color: rgb(243, 240, 240);
  font-size: xx-large;
}

.content a {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

i:hover {
  color: aqua;
}
